body{
    background-image: url('../img/Carbon\ backdrop.png');
    background-size: cover;
    background-repeat:no-repeat;
    font-family: Roboto; 
}
body a{
    text-decoration: none;
}
.red{
    color: red;
}
.border-bottom, .border-top{
    display: inline-block;
    border-color:red!important;
    padding: 1rem;
}
ul li{
    /* text-align: center; */
    list-style: none;
}
/* BOUTONS */
section .col a{
    color: white;
    border-radius: 50%;
    border-bottom:solid 0.3rem red;
    border-right:solid 0.3rem red;
    background: black;
    padding: 5%;
    font-size: large;
}

section a:hover{
    background: red;
    color: black;
}
.reseaux a:hover{
    background: black;
}
.reseaux img{
    padding: 1rem;
    margin-top: 2rem;
}